.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  h1.h2
    | Dashboard
canvas#myChart.my-4.chartjs-render-monitor[width="2038" height="860" style="display: block; height: 430px; width: 1019px;"]
