= f.input :type, input_html: { readonly: true }
= f.input :start_date, start_year: Date.today.year, end_year: Date.today.year
= f.input :end_date, start_year: Date.today.year, end_year: Date.today.year
= f.input :price
= f.input :discount
